.card {
  margin: 20px;
  width: 18rem;
  background: rgba(247, 239, 239, 0.3);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: inset 5px 5px 10px #306d8a, inset -5px -5px 10px #42bab4;
}

.card-title {
  margin-bottom: 15px;
  color: black;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.tituloCardA {
  text-decoration: none;
  text-underline-offset: none;
}

.tituloCardA :hover {
  text-decoration: none;
  text-underline-offset: none;
}
